.wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    width: 100px;
    height: 30px;
    background: royalblue;
    border: none;
    border-radius: 10px;
    color: white;
}

.button:focus {
    background: blue;
}

.coin {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
    margin-bottom: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background: goldenrod;
    border-radius: 50%;
    color: white;
    font-size: 48px;
    border: 20px solid gold;
}

.landed {
    display: none;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    color: white;
    font-size: 48px;
}

.test {
    border: 1px solid red;
}